<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "posts/index", "data-turbo-track": "reload" %>
<% end %>

<p style="color: green"><%= notice %></p>

<ul aria-label="Posts" class="posts__index__list" id="posts">
  <% @posts.each do |post| %>
    <li aria-label="<%= "Post #{post.id}" %>">
      <%= render post %>
    </li>
  <% end %>
</ul>

<%= link_to "New post", new_post_path %>
