<p style="color: green"><%= notice %></p>

<%= link_to "Back to posts", posts_path %>

<%= render @post %>

<div>
  <%= button_to "Edit this post", edit_post_path(@post), method: :get %>
  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
