<p style="color: green"><%= notice %></p>

<%= link_to "Back to posts", posts_path %>

<%= render @post %>

<h2>Comments</h2>
<%= render @post.comments %>

<h2>Post a Comment</h2>
<%= render "comments/form" %>
