<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "posts/show", "data-turbo-track": "reload" %>
<% end %>

<p style="color: green"><%= notice %></p>

<%= link_to "Back to posts", posts_path %>

<%= render @post %>

<ol class="post__post__comments">
  <% @post.comments.each do |comment| %>
    <li aria-label="<%= "Comment #{comment.id}" %>">
      <%= render comment %>
    </li>
  <% end %>
</ol>

<div class="post__show__comment_form">
  <%= render "comments/form" %>
</div>
